<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="styles/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Index</title>

        <style>table, th, td {
            border: 1px solid black;
            border-radius: 20px;
         }
        </style>

        {{ bootstrap.load_css() }}
    </head>
    
    <body>
        <!-- Your page content -->
        <!-- Currently working on navbar functionality (implement search function) -->
        <!-- Need to implement partials for footer and header to clean code up -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>

        
        <div class="text-center">
                <h1>Boiler Plate index for Final Project</h1>
        </div>

        
        <div class = "row justify-content-center text-center">
            <table>
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Logo
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Symbol
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            24h
                        </th>
                        <th>
                            24h Volume
                        </th>
                        <th>
                            Marketcap
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for id, rank, name, price, logo, symbol, dayChange, dayVolume, marketcap in data %}
                    <tr>
                        <td>
                            <h6>{{rank}}</h6>
                        </td>
                        <td>
                            <img height="20" width="20" src="{{logo}}"/>
                        </td>
                        <td>
                            <a href="{{ url_for('detail', id=id) }}">
                                <h6>{{name}}</h6>
                            </a>
                        </td>
                        <td>
                            <h6>{{symbol}}</h6>
                        </td>
                        <td>
                            <h6>${{price}}</h6>
                        </td>
                        <td>
                            <h6>%{{dayChange}}</63>
                        </td>
                        <td>
                            <h6>${{dayVolume}}</h6>
                        </td>
                        <td>
                            <h6>${{marketcap}}</h6>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        

        {{ bootstrap.load_js() }}
    </body>
</html>