table {
    width: 100%;
    border-collapse: collapse;
}
  
th {
    background-color: #f2f2f2;
    padding: 8px;
    border: 1px solid #ddd;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
td {
    padding: 8px;
    border: 1px solid #ddd;
}

.coinInfo {
    width: 75%;
}

.coinLabels {
    background-color: #f8f9fa;
}

.mainDiv {
    margin-top: 10px;
    margin-bottom: 50px;
}

.div1 {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.foot {
    display: flex;
    justify-content: space-evenly;
    background-color: #f8f9fa;
}

.footText {
    text-align: center;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details > div {
    width: 50%;
    text-align: left;
    flex-basis: 50%;
    height: 20%;
}

.btn {
    outline: 1px solid #ddd;
}

.s1 {
    display: flex;
}

.x1 {
    text-align: center;
    width: 45%;
}

.x {
    height: 100%;
    outline: 1px solid #ddd;
    padding-left: 3px;
    width: 200px;
}

#pic1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#info {
    text-align: left;
    text-indent: 2.5em;
}