<footer>
    <div class="foot">
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/13/CSU_Monterey_Bay_seal.svg/1200px-CSU_Monterey_Bay_seal.svg.png" id="pic1" width="300px">
        </div>
        <div class="footText">
            <br><br><br><br>
            Alire, Ansaldo, Greer, Ramirez <br>
            CST 205 Multimedia Design & Programming. <b>2023©</b> <br>
            <b>Disclaimer:</b> The information on this webpage is for academic purposes.
        </div>
    </div>
</footer>